name: Java-Gradle

on:
  workflow_call:
    inputs:
      WORKING_DIR:
        required: false
        type: string
        default: "."
      SERVICE_NAME:
        required: true
        type: string
      RUN_TESTS:
        required: false
        type: boolean
        default: false
      JAVA_VERSION:
        required: false
        type: number
        default: 17
      JAVA_DISTRIBUTION:
        required: false
        type: string
        default: 'corretto'
      GCR_REGISTRY:
        required: false
        type: string
        default: 'gcr.io'
      GCR_REGISTRY_PROJECT:
        required: true
        type: string
      TRIVY_SCAN_ENABLED:
        required: false
        type: boolean
        default: true
      TRIVY_TIMEOUT:
        required: false
        type: string
        default: "10m0s"
      PR_CHECK:
        required: false 
        type: boolean
        default: false
      GCP_AUTH:
        required: false 
        type: boolean
        default: false
      WORKLOAD_IDENTITY_PROVIDER:
        type: string
        required: true
      WIP_SERVICE_ACCOUNT:
        type: string
        required: true
      PERMIFY_ENABLED:
        required: false 
        type: boolean
        default: false
      PERMIFY_VERSION:
        required: false
        type: string
        default: "1.4.2"
    secrets:
      GCR_JSON_KEY:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.WORKING_DIR }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JAVA
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.JAVA_VERSION }}
          distribution: ${{ inputs.JAVA_DISTRIBUTION }}

      - name: Authenticate with GCP
        if: ${{ inputs.GCP_AUTH }}
        id: auth
        uses: google-github-actions/auth@v2.1.7
        with:
          workload_identity_provider: ${{ inputs.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ inputs.WIP_SERVICE_ACCOUNT }}
          token_format: 'access_token'
          access_token_lifetime: '900s'
          create_credentials_file: true

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      
      - name: Install Permify CLI
        if: ${{ inputs.PERMIFY_ENABLED }}
        run: |
          curl -L https://github.com/Permify/permify/releases/download/v${{ inputs.PERMIFY_VERSION }}/permify_${{ inputs.PERMIFY_VERSION }}_linux_amd64.tar.gz \
            | tar -xz
          sudo mv permify /usr/local/bin/permify

      - name: Execute Build and Tests
        if: ${{ inputs.RUN_TESTS }}
        run: ./gradlew clean build

      - name: Execute Only Build (-x test)
        if: ${{ inputs.RUN_TESTS == false }}
        run: ./gradlew clean build -x test
      
      - name: Login to GCR
        if: ${{ inputs.PR_CHECK == false }}
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.GCR_REGISTRY }}
          username: _json_key
          password: ${{ secrets.GCR_JSON_KEY }}

      - name: Build Docker Image
        uses: docker/build-push-action@v3
        with:
          context: ${{ inputs.WORKING_DIR }}
          push: false
          tags: ${{ inputs.GCR_REGISTRY }}/${{ inputs.GCR_REGISTRY_PROJECT }}/${{ inputs.SERVICE_NAME }}:latest,${{ inputs.GCR_REGISTRY }}/${{ inputs.GCR_REGISTRY_PROJECT }}/${{ inputs.SERVICE_NAME }}:${{ github.sha }}
          labels: |
            COMMIT_SHA=${{ github.sha }}
            
      - name: Trivy vulnerability scanner
        if: ${{ inputs.TRIVY_SCAN_ENABLED }}
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: ${{ inputs.GCR_REGISTRY }}/${{ inputs.GCR_REGISTRY_PROJECT }}/${{ inputs.SERVICE_NAME }}:${{ github.sha }}
          format: "table"
          exit-code: 1
          security-checks: "vuln"
          vuln-type: "library"
          severity: "CRITICAL"
          timeout: ${{ inputs.TRIVY_TIMEOUT }}

      - name: Push Docker Image
        if: ${{ inputs.PR_CHECK == false }}
        uses: docker/build-push-action@v3
        with:
          context: ${{ inputs.WORKING_DIR }}
          push: true
          tags: ${{ inputs.GCR_REGISTRY }}/${{ inputs.GCR_REGISTRY_PROJECT }}/${{ inputs.SERVICE_NAME }}:latest,${{ inputs.GCR_REGISTRY }}/${{ inputs.GCR_REGISTRY_PROJECT }}/${{ inputs.SERVICE_NAME }}:${{ github.sha }}
          labels: |
            COMMIT_SHA=${{ github.sha }}

      - name: Done
        run: echo build succesfully!