name: Upload-templates

on:
  workflow_call:
    inputs:
      WORKING_DIR:
        required: false
        type: string
        default: "."
      SERVICE_NAME:
        required: true
        type: string
      WORKLOAD_IDENTITY_PROVIDER:
        type: string
        required: true
      WIP_SERVICE_ACCOUNT:
        type: string
        required: true
      NODE_VERSION:
        required: false
        type: number
        default: 22
      COMPONENTS_WORKING_DIR:
        required: false
        type: string
      TIMEOUT_MINUTES:
        required: false
        type: number
        default: 15
      PR_CHECK:
        required: false 
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.TIMEOUT_MINUTES }}
    defaults:
      run:
        working-directory: ${{ inputs.WORKING_DIR }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Authenticate with GCP
        id: auth
        uses: google-github-actions/auth@v2.1.7
        with:
          workload_identity_provider: ${{ inputs.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ inputs.WIP_SERVICE_ACCOUNT }}
          token_format: 'access_token'
          access_token_lifetime: '900s'
          create_credentials_file: true

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2.1.2

#      - name: Set up Node.js
#        uses: actions/setup-node@v4.1.0
#        with:
#          node-version: ${{ inputs.NODE_VERSION }}

      - name: Upload files to GCS
        if: ${{ inputs.PR_CHECK == false }}
        run: |
          gsutil -m rsync -r -d ./ gs://code-storage-dev/templates/

#      - name: Check if app9-components folder has changes
#        id: components_folder_changed
#        run: |
#          echo "=============== list modified files ==============="
#
#          # For pull_request event: compare with merge-base
#          # For push to main: compare last commit with previous commit
#          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
#            git fetch origin main
#            BASE_SHA=$(git merge-base origin/main HEAD)
#            git diff --name-only "$BASE_SHA"...HEAD > files.txt
#          else
#            git diff --name-only HEAD~1 HEAD > files.txt
#          fi
#
#          cat files.txt
#
#          echo "========== check paths of modified files =========="
#
#          run_job=false
#
#          while IFS= read -r file || [ -n "$file" ]; do
#            if [[ "$file" == templates/app9-components/* ]]; then
#              echo "Found a modified file in app9-components."
#              run_job=true
#              break
#            fi
#          done < files.txt
#
#          echo "run_job=$run_job" >> "$GITHUB_OUTPUT"
#
#
#      - name: Validate NPM version
#        if: ${{ steps.components_folder_changed.outputs.run_job == 'true' }}
#        working-directory: ${{ inputs.COMPONENTS_WORKING_DIR }}
#        run: npm run validate-build-version
#
#      - name: Install npm dependencies
#        if: ${{ steps.components_folder_changed.outputs.run_job == 'true'&& steps.cache.outputs.cache-hit != 'true'}}
#        working-directory: ${{ inputs.COMPONENTS_WORKING_DIR }}
#        run: npm ci
#
#      - name: Get npm access token for NPM publishing
#        if: ${{ steps.components_folder_changed.outputs.run_job == 'true' && inputs.PR_CHECK == false }}
#        working-directory: ${{ inputs.COMPONENTS_WORKING_DIR }}
#        run: npx google-artifactregistry-auth
#
#      - name: Publish NPM library
#        if: ${{ steps.components_folder_changed.outputs.run_job == 'true' && inputs.PR_CHECK == false }}
#        working-directory: ${{ inputs.COMPONENTS_WORKING_DIR }}
#        run: npm publish
